/* This is where I will put my css that will override bootstrap */

body {
  background-image: url("../images/purple-leaf.jpg");
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

button {
  background-color: rgb(4, 71, 147);
  color: white;
}
.navbar {
  background-color: rgb(42, 77, 107);
  width: 100%;
  white-space: nowrap;
}

.wrapper {
  width: 100%;
}

.habit-item {
  margin: 20px;
}

.complete-this,
.delete-this,
.edit-this,
.habit-name {
  margin-right: 10px;
}

.habit-container,
.signup-wrapper,
.login-wrapper,
.add-habit-wrapper,
.edit-habit-wrapper {
  background-color: rgb(142, 143, 145, 0.9);
  padding: 133px;
  margin-top: 20px;
}

.habit-name {
  font-size: 27px;
}

.signup-wrapper,
.homepage-txt-wrapper,
.login-wrapper,
.add-habit-wrapper,
.edit-habit-wrapper {
  width: 45%;
  font-size: 27px;
}

.pre-login-txt,
.pre-signup-txt {
  margin-right: 10px;
}

.fitness-img {
  z-index: -1;
  height: 1200px;
  width: 100%;

  position: fixed;
}
.homepage-wrapper {
  color: black;
  font-size: 27px;
  width: 30%;
  float: right;
  margin-top: 87px;
  margin-right: 225px;
}

.decoration {
  background-image: url("../images/purple-leaf.jpg");
  height: 20px;
  width: 100%;
}
