{% extends 'base.html' %}
{% block body %}
<nav class="navbar">
    <h1>Add Habit</h1>
    
</nav>
    <div class="add-habit-wrapper mx-auto d-flex-column">
        <form class="justify-content-center d-flex flex-column" action="/add-habit" method="post">
            <div>
                <label for="habit-name">Habit Description</label>
                <input class = "habit-name-txt" name="habit-name" type="text" value="">
            </div>
            <div>
                <label for="difficulty">Habit Difficulty</label>
                <select class="habit-diff-txt" name="difficulty" for="difficulty">
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
            </div>

            <div>
                <label for="type">Habit Category</label>
                <select class="habit-cat-txt" name="type" id="">
                    <option value="work">Work</option>
                    <option value="chores">Chores</option>
                    <option value="school">School</option>
                    <option value="health">Health & Wellness</option>
                    <option value="creativity">Creativity</option>
                    <option value="exercise">Exercise</option>
                </select>
            </div>
            <div class="mx-auto">
                <a href="/habits"><button type="submit">Add Habit</button></a>
            </div>
            
            
        </form>
    </div>
  


{% endblock %}