{% extends 'base.html' %}



    {% block body %}
        <nav class="navbar">
            <h1>Habit Up</h1>
            
        </nav>
        <div class="decoration"></div>
        <div>
            <img class="img-fluid fitness-img" src="/static/images/fitness.jpg" alt="">
        </div>
        <div class="homepage-wrapper d-flex justify-content-end">
            <div class="d-flex flex-column">
                <p>Want to keep track of your habits, be more productive, and stay on task?
                    Whether it be reading more, lifting weights, eating healthy, or practicing a foreign language, it
                    all starts with your daily habits!
                </p>
                
                <div class="d-flex flex-row">
                    <p class="pre-signup-txt">Signup for Habit Up!</p>
                    <a href="signup">
                        <button type="submit">Signup</button>
                    </a>
                </div>
                <div class="d-flex flex-row">
                    <p class="pre-login-txt">Already have an account?</p>
                    <p>
                        <a href="login">
                            <button type="submit">Login</button>
                        </a>
                    </p>
                </div>
            </div>

        </div>

    

{% endblock %}