{% extends 'base.html' %}
{% block body %}

<nav class="navbar">
    <h1>Habit Up Login</h1>
    
</nav>
<div class="login-wrapper mx-auto d-flex-column">
    
    <form class="justify-content-center d-flex flex-column" action="/login" method="post" id="login">
        <div class="mx-auto">
            <label for="email">Your email</label>
            <input type="email" name="email" >
        </div>
        
        <div class="mx-auto">
            <label for="password">Password</label>
            <input name="password" type="password">
        </div>
       
        <button class="mx-auto" type="submit">Login</button>
        <!-- <input type="submit" value="Login"> -->
    </form>
    

</div>


{% endblock %}